<div class="container" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="20px" fxLayoutGap.xs="0">
  <div class="fx-width">
    <p>
      <mat-card class="example-card">
        <mat-card-title-group classcd-kl fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="10px">
          <mat-card-title>What is Myportfolio?</mat-card-title>
          <!-- <mat-card-subtitle>Extra large</mat-card-subtitle> -->
          <img mat-card-xl-image src="assets/images/ajb.png">
        </mat-card-title-group>
        <mat-card-content>
          <h2>Myportfolio</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet dui gravida, pellentesque dolor
            a, interdum erat. Integer eget efficitur tellus. Mauris egestas sollicitudin hendrerit. Aliquam posuere
            consequat ipsum, ac condimentum odio consequat ac. Duis et sem metus. Duis tristique id ipsum ut
            ullamcorper. Nullam dapibus tristique nisl vitae elementum. Mauris efficitur elit at sem lacinia accumsan.
            Proin vitae leo in elit condimentum sodales. Sed purus metus, vehicula vel auctor nec, tempus non enim.
            Fusce sit amet justo sapien. Nulla at mi vehicula, vehicula purus non, egestas nisl. Praesent magna enim,
            aliquet id mi vitae, viverra ultricies magna. Pellentesque placerat elit eget eros condimentum varius.
            Aenean tristique, sem sed lobortis dictum, est orci suscipit nibh, at vulputate arcu neque non orci.
          </p>
        </mat-card-content>
      </mat-card>
    </p>
  </div>
  <div Fxflex = "100%">
    <p>
      <mat-card class="example-card">
        <mat-card-title-group classcd-kl fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="10px">
          <mat-card-title>Why is Myportfolio?</mat-card-title>
          <!-- <mat-card-subtitle>Extra large</mat-card-subtitle> -->
          <img mat-card-xl-image src="assets/images/ajb.png">
        </mat-card-title-group>
        <mat-card-content>
          <h2>Myportfolio</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet dui gravida, pellentesque dolor
            a, interdum erat. Integer eget efficitur tellus. Mauris egestas sollicitudin hendrerit. Aliquam posuere
            consequat ipsum, ac condimentum odio consequat ac. Duis et sem metus. Duis tristique id ipsum ut
            ullamcorper. Nullam dapibus tristique nisl vitae elementum. Mauris efficitur elit at sem lacinia accumsan.
            Proin vitae leo in elit condimentum sodales. Sed purus metus, vehicula vel auctor nec, tempus non enim.
            Fusce sit amet justo sapien. Nulla at mi vehicula, vehicula purus non, egestas nisl. Praesent magna enim,
            aliquet id mi vitae, viverra ultricies magna. Pellentesque placerat elit eget eros condimentum varius.
            Aenean tristique, sem sed lobortis dictum, est orci suscipit nibh, at vulputate arcu neque non orci.
          </p>
        </mat-card-content>
      </mat-card>
    </p>
  </div>
  <div class="fx-width">
    <p>
      <mat-card class="example-card">
        <mat-card-title-group classcd-kl fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="10px">
          <mat-card-title>Where does it come from ?</mat-card-title>
          <!-- <mat-card-subtitle>Extra large</mat-card-subtitle> -->
          <img mat-card-xl-image src="assets/images/ajb.png">
        </mat-card-title-group>
        <mat-card-content>
          <h2>Myportfolio</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet dui gravida, pellentesque dolor
            a, interdum erat. Integer eget efficitur tellus. Mauris egestas sollicitudin hendrerit. Aliquam posuere
            consequat ipsum, ac condimentum odio consequat ac. Duis et sem metus. Duis tristique id ipsum ut
            ullamcorper. Nullam dapibus tristique nisl vitae elementum. Mauris efficitur elit at sem lacinia accumsan.
            Proin vitae leo in elit condimentum sodales. Sed purus metus, vehicula vel auctor nec, tempus non enim.
            Fusce sit amet justo sapien. Nulla at mi vehicula, vehicula purus non, egestas nisl. Praesent magna enim,
            aliquet id mi vitae, viverra ultricies magna. Pellentesque placerat elit eget eros condimentum varius.
            Aenean tristique, sem sed lobortis dictum, est orci suscipit nibh, at vulputate arcu neque non orci.
          </p>
        </mat-card-content>
      </mat-card>
    </p>
  </div>
  <div class="fx-width">
    <p>
      <mat-card class="example-card">
        <mat-card-title-group classcd-kl fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="10px">
          <mat-card-title>Where can I get some?</mat-card-title>
          <!-- <mat-card-subtitle>Extra large</mat-card-subtitle> -->
          <img mat-card-xl-image src="assets/images/ajb.png">
        </mat-card-title-group>
        <mat-card-content>
          <h2>Myportfolio</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet dui gravida, pellentesque dolor
            a, interdum erat. Integer eget efficitur tellus. Mauris egestas sollicitudin hendrerit. Aliquam posuere
            consequat ipsum, ac condimentum odio consequat ac. Duis et sem metus. Duis tristique id ipsum ut
            ullamcorper. Nullam dapibus tristique nisl vitae elementum. Mauris efficitur elit at sem lacinia accumsan.
            Proin vitae leo in elit condimentum sodales. Sed purus metus, vehicula vel auctor nec, tempus non enim.
            Fusce sit amet justo sapien. Nulla at mi vehicula, vehicula purus non, egestas nisl. Praesent magna enim,
            aliquet id mi vitae, viverra ultricies magna. Pellentesque placerat elit eget eros condimentum varius.
            Aenean tristique, sem sed lobortis dictum, est orci suscipit nibh, at vulputate arcu neque non orci.
          </p>
        </mat-card-content>
      </mat-card>
    </p>
  </div>
</div>
